{% extends 'base.html.twig' %}

{% block title %}CategoryTopic index{% endblock %}

{% block body %}
    <h1>CategoryTopic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image_path_url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_topic in category_topics %}
            <tr>
                <td>{{ category_topic.id }}</td>
                <td>{{ category_topic.name }}</td>
                <td>{{ category_topic.imagePathUrl }}</td>
                <td>
                    <a href="{{ path('category_topic_show', {'id': category_topic.id}) }}">show</a>
                    <a href="{{ path('category_topic_edit', {'id': category_topic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_topic_new') }}">Create new</a>
{% endblock %}
