{% extends 'base_admin.html.twig' %}

{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Icon Bootstrap -->   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/indentification.css') }}">
    <link rel="stylesheet" href="{{ asset('css/actualité.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font.css') }}">
{% endblock %}

{% block title %}Categorytopic index{% endblock %}

{% block body %}
    <div id="bannerGame" class="row b-row listing meta-below grid-3">
        <!-- ***********Barre de navigation************ -->
        <div class="container">
            <div class="nav-scroller py-1 mb-2">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 link-secondary" href="#">Playstation 4</a>
                    <a class="p-2 link-secondary" href="#">Playstation 5</a>
                    <a class="p-2 link-secondary" href="#">Xbox one</a>
                    <a class="p-2 link-secondary" href="#">Xbox Serie X</a>
                    <a class="p-2 link-secondary" href="#">Pc</a>
                    <a class="p-2 link-secondary" href="#">Nintendo Switch</a>
                    <a class="p-2 link-secondary" href="#">ios</a>
                    <a class="p-2 link-secondary" href="#">Android</a>
                </nav>
            </div>
        </div>
    </div>
    <!-- *****************Bannière actualité******************** -->
    <div id="myActu">
        <div id="myActuBlock" class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Liste catégorie</h1>
            
                <div>
                    <p class="txtMyactu lead my-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quisquam
                        ipsum tenetur? Et, culpa eum!
                    </p>
                    {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                        <h3 class="txtMyactu lead mb-0"><a href="{{ path('category_news_new') }}" class="text-white fw-bold">
                        Créer nouvelle actualité</a>
                        </h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div id="blockLeftAndRight" class="row">
            <div id="signUp" class="col-md-6 mt-4">
                {#<table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Image_path_url</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category_topic in category_topics %}
                        <tr>
                            <td>{{ category_topic.id }}</td>
                            <td>{{ category_topic.name }}</td>
                            <td>{{ category_topic.imagePathUrl }}</td>
                            <img src=" {{ asset(category_topic.imagePathUrl) }}" style="contain;" alt="">
                            <td>
                                <a href="{{ path('category_topic_show', {'id': category_topic.id}) }}">Afficher</a>
                                <a href="{{ path('category_topic_edit', {'id': category_topic.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <a href="{{ path('category_topic_new') }}">Créer nouvelle catégorie</a>
                </table> #}
                <div class="row">
                    {% for category_topic in category_topics %}
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <img src=" {{ asset(category_topic.imagePathUrl) }}" style="contain;height: 80px;" alt="">
                            </div>
                            <div class="card-body text-wrap my-auto px-1 py-2">
                                <h4> {{ category_topic.name }} </h4><hr>
                            </div>
                            <div class="card-footer">
                                <div>
                                    <a class="btn btn-primary mt-3"  href="{{ path('category_topic_show',{'id':category_topic.id} ) }}">Consulter</a>
                                    {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                                        <a class="btn btn-primary mt-3" href="{{ path('category_topic_edit',{'id':category_topic.id} ) }}">Modifier</a>
                                    {% endif %}
                                </div><br>
                            </div>
                        </div>
                        </div>
                            {% else %}
                                <tr>
                                    <td colspan="6">Aucun enregistrement trouvé</td>
                                </tr>
                            {% endfor %}
                        </div>
                    <div>
                </div>    
            </div>
        </div>        
    </div>
{% endblock %}
{% block footer %}
    <footer class="text-center bg-light py-6 mt-4">
        <div>
            <img src="{{ asset('logoMugamax/logo_small_icon_only_inverted.png') }}" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="d-block mb-2">
            </img>&copy; Mugamax - 2021 - All Right Reserved
        </div>
    </footer>
{% endblock %}