{% extends 'base.html.twig' %}
{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Icon Bootstrap -->   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/page-utilisateur.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font.css') }}">
    <link rel="stylesheet" href="{{ asset('css/checkbox1.css') }}">
{% endblock %}
{% block title %}SettingUserPreference index{% endblock %}

{% block body %}
    <h1>SettingUserPreference index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthdate</th>
                <th>Country</th>
                {# <th>Playstation</th>
                <th>Xbox</th>
                <th>Nintendo</th>
                <th>Steam</th>
                <th>Twitch</th>
                <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for setting_user_preference in setting_user_preferences %}
            <tr>
                <td>{{ setting_user_preference.user.id }}</td>
                <td>{{ setting_user_preference.user.pseudo }}</td>
                <td>{{ setting_user_preference.user.firstname }}</td>
                <td>{{ setting_user_preference.user.lastname }}</td>
                <td>{{ setting_user_preference.user.birthdate ? setting_user_preference.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ setting_user_preference.user.country }}</td>
                {# <td>{{ setting_user_preference.playstation }}</td>
                <td>{{ setting_user_preference.xbox }}</td>
                <td>{{ setting_user_preference.nintendo }}</td>
                <td>{{ setting_user_preference.steam }}</td>
                <td>{{ setting_user_preference.twitch }}</td> #}
                <td>
                    <a href="{{ path('setting_user_preference_show', {'id': setting_user_preference.id}) }}">show</a>
                    <a href="{{ path('setting_user_preference_edit', {'id': setting_user_preference.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('setting_user_preference_new') }}">Create new</a>

    <section>
        <div class="container my-4">
            <div id="containerParam" class="row">
                <div class="col-md-5 mt-4">
                    <!-- ********************Profil********************** -->
                    <section>
                        <div id="containerParam2" class="row">
                            <div id="containerParam3" class="col-8">
                                <div id="paramètre">
                                    <div id="paramètreHeader" class="lp-header"> <span
                                            id="spanParamètreTitle">Paramètres</span>
                                    </div>
                                    <!-- Paramètre compte -->
                                    <div id="paramètreCompte"
                                        class="settings-button slide-in-out ts-500 account-s active">
                                        <div id="paramètreCompteHeadTitle" class="head-title"> <i id="iconChevronCompte"
                                                class="bi bi-chevron-right"></i> <i id="iconUserCompte"
                                                class="bi bi-person-fill"></i> <a id="spanCompte"
                                                href="page-utilisateur-compte.html">Compte</a>
                                        </div>
                                        <div id="subMenuCompte" class="sub-menu slide-item">
                                            <div id="tabProfil" class="sub-title" data-scrollto="profile-form">
                                                <a href="#accTitleTxtleft1">Profil</a>
                                            </div>
                                            <div id="tabPréférence" class="sub-title" data-scrollto="preferences">
                                                <a href="#accTitleTxtleft2">Préférences</a>

                                            </div>
                                            <div id="tabDeleteAcc" class="sub-title acc-setting-menu-cancel-acc"
                                                data-scrollto="cancel-account-block"><a
                                                    href="#accTitleTxtleft3">Supprimer le compte</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Paramètre notification -->
                                    <div id="paramètreNotif"
                                        class="settings-button slide-in-out ts-500 notifications closed">
                                        <div id="paramètreNotifHeadTitle" class="head-title"> <i id="iconChevronNotif"
                                                class="bi bi-chevron-right"></i> <i id="IconBellNofif"
                                                class="bi bi-bell-fill"></i></i>
                                            <a id="spanNofif"
                                                href="page-utilisateur-notification.html">Notifications</a>
                                        </div>
                                        <div id="subMenuNotif" class="sub-menu slide-item">
                                            <div id="tabNotifAcc" class="sub-title"
                                                data-scrollto="account-notification">
                                                <a href="page-utilisateur-notification.html">Notifications du compte</a></div>
                                            <div id="tabNotifEmail" class="sub-title"
                                                data-scrollto="email-notification">
                                                <a href="page-utilisateur-notification.html">Notifications par courriel</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Paramètre sécurité -->
                                    <div id="paramèteSécurité"
                                        class="settings-button slide-in-out ts-500 security closed">
                                        <div id="paramètreSécuritéHeadTitle" class="head-title"> <i
                                                id="iconChevronSécurité" class="bi bi-chevron-down"></i> <i
                                                id="iconShieldSécurité" class="bi bi-shield-lock-fill"></i> <a
                                                id="spanSécurité" href="page-utilisateur-sécutité.html">Sécurité</a>
                                        </div>
                                        <div id="subMenuSécurité" class="sub-menu slide-item">
                                            <div id="tabChangePass" class="sub-title" data-scrollto="change-password">
                                                <a href="page-utilisateur-sécutité.html">Changer le mot
                                                    de passe</a>
                                            </div>
                                            <div id="tabChangeEmail" class="sub-title acc-setting-menu-change-em"
                                                data-scrollto="change-email"><a href="page-utilisateur-sécutité.html">Changer
                                                    l’adresse courriel</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="col-xs-6 col-md-6">
                        </div><br>
                    </section>
                </div>
                <div class="col-md-6 mt-4">
                    <!-- ******************Espace Utilisateur********************* -->
                    <section>
                        <div class="row">
                            <div class="col-12">
                                <div id="accProfil" class="col-12">
                                    <!-- boîte gauche 1 profil -->
                                    <div id="accProfilSettingleft" class="settings-left-block">
                                        <div id="accTitleTxtleft1" class="title-txt">Profil</div>
                                    </div>
                                    <!-- boîte droite 1 -->
                                    <div id="accProfilSettingRight" class="settings-right-block">
                                        <!-- séparation 1 -->
                                        <hr>
                                        <form action="r" method="post" accept-charset="utf-8" class="form" role="form">
                                            <div id="fmContainerFluid" class="container-fluid">
                                                <div id="fmAccMainContainer" class="row">
                                                    <div id="divPseudo" class="col-xs-6 col-md-6">
                                                        <i class="bi bi-person"></i>
                                                        Pseudo
                                                        <input id="inputPseudo" type="text" name="pseudo" value=""
                                                            class="form-control input-lg" placeholder="" />
                                                    </div><br>
                                                    <div id="divPrénom" class="col-xs-6 col-md-6">
                                                        Prénom
                                                        <input id="inputPrénom" type="text" name="firstname" value=""
                                                            class="form-control input-lg" placeholder="" />
                                                    </div>
                                                    <div id="divNom" class="col-xs-6 col-md-6">
                                                        Nom
                                                        <input id="inputNom" type="text" name="lastname" value=""
                                                            class="form-control input-lg" placeholder="" />
                                                    </div><br>
                                                    <label id="labelBirthay"> <i class="bi bi-calendar-date"></i> Date
                                                        de naissance :</label>
                                                    <div class="row">
                                                        <div id="divDay" class="col-xs-4 col-md-4">
                                                            <select id="inputDay" name="day"
                                                                class="form-control input-lg">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>
                                                                <option value="31">31</option>
                                                            </select>
                                                        </div>
                                                        <div id="divMonth" class="col-xs-4 col-md-4">
                                                            <select id="inputMonth" name="month"
                                                                class="form-control input-lg">
                                                                <option value="01">Jan</option>
                                                                <option value="02">Feb</option>
                                                                <option value="03">Mar</option>
                                                                <option value="04">Apr</option>
                                                                <option value="05">May</option>
                                                                <option value="06">Jun</option>
                                                                <option value="07">Jul</option>
                                                                <option value="08">Aug</option>
                                                                <option value="09">Sep</option>
                                                                <option value="10">Oct</option>
                                                                <option value="11">Nov</option>
                                                                <option value="12">Dec</option>
                                                            </select>
                                                        </div>
                                                        <div id="divYear" class="col-xs-4 col-md-4">
                                                            <select id="inputYear" name="year"
                                                                class="form-control input-lg">
                                                                <option value="2015">2015</option>
                                                                <option value="2014">2014</option>
                                                                <option value="2013">2013</option>
                                                                <option value="2012">2012</option>
                                                                <option value="2011">2011</option>
                                                                <option value="2010">2010</option>
                                                                <option value="2009">2009</option>
                                                                <option value="2008">2008</option>
                                                                <option value="2007">2007</option>
                                                                <option value="2006">2006</option>
                                                                <option value="2005">2005</option>
                                                                <option value="2004">2004</option>
                                                                <option value="2003">2003</option>
                                                                <option value="2002">2002</option>
                                                                <option value="2001">2001</option>
                                                                <option value="1999">1999</option>
                                                                <option value="1998">1998</option>
                                                                <option value="1997">1997</option>
                                                                <option value="1996">1996</option>
                                                                <option value="1995">1995</option>
                                                                <option value="1994">1994</option>
                                                                <option value="1993">1993</option>
                                                                <option value="1992">1992</option>
                                                                <option value="1991">1991</option>
                                                                <option value="1990">1990</option>
                                                                <option value="1989">1989</option>
                                                                <option value="1988">1988</option>
                                                                <option value="1987">1987</option>
                                                                <option value="1986">1986</option>
                                                                <option value="1985">1985</option>
                                                                <option value="1984">1984</option>
                                                                <option value="1983">1983</option>
                                                                <option value="1982">1982</option>
                                                                <option value="1981">1981</option>
                                                                <option value="1980">1980</option>
                                                                <option value="1979">1979</option>
                                                                <option value="1978">1978</option>
                                                                <option value="1977">1977</option>
                                                                <option value="1976">1976</option>
                                                                <option value="1975">1975</option>
                                                                <option value="1974">1974</option>
                                                                <option value="1973">1973</option>
                                                                <option value="1972">1972</option>
                                                                <option value="1971">1971</option>
                                                                <option value="1970">1970</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <!-- **************Pays*************** -->
                                                    <label id="labelCountry"><i class="fas fa-globe-americas"></i> Pays
                                                        :
                                                    </label>
                                                    <div class="row">
                                                        <div class="col-xs-6 col-md-6">
                                                            <select id="inputCountry" name="Country"
                                                                class="form-control input-lg">
                                                                <option class="option" data-value="AF">Afghanistan
                                                                </option>
                                                                <option class="option" data-value="ZA">Afrique du Sud
                                                                </option>
                                                                <option class="option" data-value="AX">Åland</option>
                                                                <option class="option" data-value="AL">Albanie</option>
                                                                <option class="option" data-value="DZ">Algérie</option>
                                                                <option class="option" data-value="DE">Allemagne
                                                                </option>
                                                                <option class="option" data-value="AD">Andorre</option>
                                                                <option class="option" data-value="AO">Angola</option>
                                                                <option class="option" data-value="AI">Anguilla</option>
                                                                <option class="option" data-value="AQ">Antarctique
                                                                </option>
                                                                <option class="option" data-value="AG">
                                                                    Antigua-et-Barbuda
                                                                </option>
                                                                <option class="option" data-value="SA">Arabie saoudite
                                                                </option>
                                                                <option class="option" data-value="AR">Argentine
                                                                </option>
                                                                <option class="option" data-value="AM">Arménie</option>
                                                                <option class="option" data-value="AW">Aruba</option>
                                                                <option class="option" data-value="AU">Australie
                                                                </option>
                                                                <option class="option" data-value="AT">Autriche</option>
                                                                <option class="option" data-value="AZ">Azerbaïdjan
                                                                </option>
                                                                <option class="option" data-value="BS">Bahamas</option>
                                                                <option class="option" data-value="BH">Bahreïn</option>
                                                                <option class="option" data-value="BD">Bangladesh
                                                                </option>
                                                                <option class="option" data-value="BB">Barbade</option>
                                                                <option class="option" data-value="BY">Bélarus</option>
                                                                <option class="option" data-value="BE">Belgique</option>
                                                                <option class="option" data-value="BZ">Belize</option>
                                                                <option class="option" data-value="BJ">Bénin</option>
                                                                <option class="option" data-value="BM">Bermudes</option>
                                                                <option class="option" data-value="BT">Bhoutan</option>
                                                                <option class="option" data-value="MM">Birmanie</option>
                                                                <option class="option" data-value="BO">Bolivie (État
                                                                    plurinational de)</option>
                                                                <option class="option" data-value="BQ">Bonaire,
                                                                    Saint-Eustache
                                                                    et Saba</option>
                                                                <option class="option" data-value="BA">
                                                                    Bosnie-Herzégovine
                                                                </option>
                                                                <option class="option" data-value="BW">Botswana</option>
                                                                <option class="option" data-value="BR">Brésil</option>
                                                                <option class="option" data-value="BN">Brunéi Darussalam
                                                                </option>
                                                                <option class="option" data-value="BG">Bulgarie</option>
                                                                <option class="option" data-value="BF">Burkina Faso
                                                                </option>
                                                                <option class="option" data-value="BI">Burundi</option>
                                                                <option class="option" data-value="KH">Cambodge</option>
                                                                <option class="option" data-value="CM">Cameroun</option>
                                                                <option class="option" data-value="CA">Canada</option>
                                                                <option class="option" data-value="CV">Cap-Vert</option>
                                                                <option class="option" data-value="CL">Chili</option>
                                                                <option class="option" data-value="CN">Chine</option>
                                                                <option class="option" data-value="CY">Chypre</option>
                                                                <option class="option" data-value="CO">Colombie</option>
                                                                <option class="option" data-value="KM">Comores</option>
                                                                <option class="option" data-value="CG">Congo</option>
                                                                <option class="option" data-value="CD">Congo (La
                                                                    République
                                                                    démocratique du)</option>
                                                                <option class="option" data-value="KR">Corée (La
                                                                    République
                                                                    de)
                                                                </option>
                                                                <option class="option" data-value="KP">Corée
                                                                    (La&nbsp;République populaire démocratique de)
                                                                </option>
                                                                <option class="option" data-value="CR">Costa Rica
                                                                </option>
                                                                <option class="option" data-value="CI">Côte d’Ivoire
                                                                </option>
                                                                <option class="option" data-value="HR">Croatie</option>
                                                                <option class="option" data-value="CU">Cuba</option>
                                                                <option class="option" data-value="CW">Curaçao</option>
                                                                <option class="option" data-value="DK">Danemark</option>
                                                                <option class="option" data-value="DJ">Djibouti</option>
                                                                <option class="option" data-value="DM">Dominique
                                                                </option>
                                                                <option class="option" data-value="EG">Égypte</option>
                                                                <option class="option" data-value="SV">El Salvador
                                                                </option>
                                                                <option class="option" data-value="AE">Émirats arabes
                                                                    unis
                                                                </option>
                                                                <option class="option" data-value="EC">Équateur</option>
                                                                <option class="option" data-value="ER">Érythrée</option>
                                                                <option class="option" data-value="ES">Espagne</option>
                                                                <option class="option" data-value="EE">Estonie</option>
                                                                <option class="option" data-value="US">États-Unis
                                                                    d’Amérique
                                                                </option>
                                                                <option class="option" data-value="ET">Éthiopie</option>
                                                                <option class="option" data-value="FJ">Fidji</option>
                                                                <option class="option" data-value="FI">Finlande</option>
                                                                <option class="option active" data-value="FR"
                                                                    data-state="active">France</option>
                                                                <option class="option" data-value="GA">Gabon</option>
                                                                <option class="option" data-value="GM">Gambie</option>
                                                                <option class="option" data-value="GE">Géorgie</option>
                                                                <option class="option" data-value="GS">Géorgie du
                                                                    Sud-et-les
                                                                    Îles Sandwich du Sud</option>
                                                                <option class="option" data-value="GH">Ghana</option>
                                                                <option class="option" data-value="GI">Gibraltar
                                                                </option>
                                                                <option class="option" data-value="GR">Grèce</option>
                                                                <option class="option" data-value="GD">Grenade</option>
                                                                <option class="option" data-value="GL">Groenland
                                                                </option>
                                                                <option class="option" data-value="GP">Guadeloupe
                                                                </option>
                                                                <option class="option" data-value="GU">Guam</option>
                                                                <option class="option" data-value="GT">Guatemala
                                                                </option>
                                                                <option class="option" data-value="GG">Guernesey
                                                                </option>
                                                                <option class="option" data-value="GN">Guinée</option>
                                                                <option class="option" data-value="GQ">Guinée
                                                                    équatoriale
                                                                </option>
                                                                <option class="option" data-value="GW">Guinée-Bissau
                                                                </option>
                                                                <option class="option" data-value="GY">Guyana</option>
                                                                <option class="option" data-value="GF">Guyane française
                                                                </option>
                                                                <option class="option" data-value="HT">Haïti</option>
                                                                <option class="option" data-value="HN">Honduras</option>
                                                                <option class="option" data-value="HK">Hong Kong
                                                                </option>
                                                                <option class="option" data-value="HU">Hongrie</option>
                                                                <option class="option" data-value="BV">Île Bouvet
                                                                </option>
                                                                <option class="option" data-value="CX">Île Christmas
                                                                </option>
                                                                <option class="option" data-value="IM">Île de Man
                                                                </option>
                                                                <option class="option" data-value="NF">Île Norfolk
                                                                </option>
                                                                <option class="option" data-value="KY">Îles Caïmans
                                                                </option>
                                                                <option class="option" data-value="CC">Îles Cocos
                                                                </option>
                                                                <option class="option" data-value="CK">Îles Cook
                                                                </option>
                                                                <option class="option" data-value="FO">Îles Féroé
                                                                </option>
                                                                <option class="option" data-value="HM">Îles
                                                                    Heard-et-MacDonald
                                                                </option>
                                                                <option class="option" data-value="FK">Îles Malouines
                                                                </option>
                                                                <option class="option" data-value="MP">Îles Mariannes du
                                                                    Nord
                                                                </option>
                                                                <option class="option" data-value="MH">Îles Marshall
                                                                </option>
                                                                <option class="option" data-value="UM">Îles mineures
                                                                    éloignées
                                                                    des États-Unis</option>
                                                                <option class="option" data-value="SB">Îles Salomon
                                                                </option>
                                                                <option class="option" data-value="TC">Îles
                                                                    Turques-et-Caïques
                                                                </option>
                                                                <option class="option" data-value="VG">Îles Vierges
                                                                    britanniques</option>
                                                                <option class="option" data-value="VI">Îles Vierges des
                                                                    États-Unis</option>
                                                                <option class="option" data-value="IN">Inde</option>
                                                                <option class="option" data-value="ID">Indonésie
                                                                </option>
                                                                <option class="option" data-value="IR">Iran (République
                                                                    Islamique d’)</option>
                                                                <option class="option" data-value="IQ">Iraq</option>
                                                                <option class="option" data-value="IE">Irlande</option>
                                                                <option class="option" data-value="IS">Islande</option>
                                                                <option class="option" data-value="IL">Israël</option>
                                                                <option class="option" data-value="IT">Italie</option>
                                                                <option class="option" data-value="JM">Jamaïque</option>
                                                                <option class="option" data-value="JP">Japon</option>
                                                                <option class="option" data-value="JE">Jersey</option>
                                                                <option class="option" data-value="JO">Jordanie</option>
                                                                <option class="option" data-value="KZ">Kazakhstan
                                                                </option>
                                                                <option class="option" data-value="KE">Kenya</option>
                                                                <option class="option" data-value="KG">Kirghizistan
                                                                </option>
                                                                <option class="option" data-value="KI">Kiribati</option>
                                                                <option class="option" data-value="XK">Kosovo</option>
                                                                <option class="option" data-value="KW">Koweït</option>
                                                                <option class="option" data-value="LA">Lao, République
                                                                    démocratique populaire</option>
                                                                <option class="option" data-value="LS">Lesotho</option>
                                                                <option class="option" data-value="LV">Lettonie</option>
                                                                <option class="option" data-value="LB">Liban</option>
                                                                <option class="option" data-value="LR">Libéria</option>
                                                                <option class="option" data-value="LY">Libye</option>
                                                                <option class="option" data-value="LI">Liechtenstein
                                                                </option>
                                                                <option class="option" data-value="LT">Lituanie</option>
                                                                <option class="option" data-value="LU">Luxembourg
                                                                </option>
                                                                <option class="option" data-value="MO">Macao</option>
                                                                <option class="option" data-value="MK">Macédoine
                                                                    (L’ex‑République yougoslave de)</option>
                                                                <option class="option" data-value="MG">Madagascar
                                                                </option>
                                                                <option class="option" data-value="MY">Malaisie</option>
                                                                <option class="option" data-value="MW">Malawi</option>
                                                                <option class="option" data-value="MV">Maloptiones
                                                                </option>
                                                                <option class="option" data-value="ML">Mali</option>
                                                                <option class="option" data-value="MT">Malte</option>
                                                                <option class="option" data-value="MA">Maroc</option>
                                                                <option class="option" data-value="MQ">Martinique
                                                                </option>
                                                                <option class="option" data-value="MU">Maurice</option>
                                                                <option class="option" data-value="MR">Mauritanie
                                                                </option>
                                                                <option class="option" data-value="YT">Mayotte</option>
                                                                <option class="option" data-value="MX">Mexique</option>
                                                                <option class="option" data-value="FM">Micronésie (États
                                                                    fédérés de)</option>
                                                                <option class="option" data-value="MD">Moldova,
                                                                    République
                                                                    de
                                                                </option>
                                                                <option class="option" data-value="MC">Monaco</option>
                                                                <option class="option" data-value="MN">Mongolie</option>
                                                                <option class="option" data-value="ME">Monténégro
                                                                </option>
                                                                <option class="option" data-value="MS">Montserrat
                                                                </option>
                                                                <option class="option" data-value="MZ">Mozambique
                                                                </option>
                                                                <option class="option" data-value="NA">Namibie</option>
                                                                <option class="option" data-value="NR">Nauru</option>
                                                                <option class="option" data-value="NP">Népal</option>
                                                                <option class="option" data-value="NI">Nicaragua
                                                                </option>
                                                                <option class="option" data-value="NE">Niger</option>
                                                                <option class="option" data-value="NG">Nigéria</option>
                                                                <option class="option" data-value="NU">Niue</option>
                                                                <option class="option" data-value="NO">Norvège</option>
                                                                <option class="option" data-value="NC">
                                                                    Nouvelle-Calédonie
                                                                </option>
                                                                <option class="option" data-value="NZ">Nouvelle-Zélande
                                                                </option>
                                                                <option class="option" data-value="OM">Oman</option>
                                                                <option class="option" data-value="UG">Ouganda</option>
                                                                <option class="option" data-value="UZ">Ouzbékistan
                                                                </option>
                                                                <option class="option" data-value="PK">Pakistan</option>
                                                                <option class="option" data-value="PW">Palaos</option>
                                                                <option class="option" data-value="PS">Palestine (État
                                                                    de)
                                                                </option>
                                                                <option class="option" data-value="PA">Panama</option>
                                                                <option class="option" data-value="PG">
                                                                    Papouasie-Nouvelle-Guinée</option>
                                                                <option class="option" data-value="PY">Paraguay</option>
                                                                <option class="option" data-value="NL">Pays-Bas</option>
                                                                <option class="option" data-value="PE">Pérou</option>
                                                                <option class="option" data-value="PH">Philippines
                                                                </option>
                                                                <option class="option" data-value="PN">Pitcairn</option>
                                                                <option class="option" data-value="PL">Pologne</option>
                                                                <option class="option" data-value="PF">Polynésie
                                                                    française
                                                                </option>
                                                                <option class="option" data-value="PR">Porto Rico
                                                                </option>
                                                                <option class="option" data-value="PT">Portugal</option>
                                                                <option class="option" data-value="QA">Qatar</option>
                                                                <option class="option" data-value="SY">République arabe
                                                                    syrienne</option>
                                                                <option class="option" data-value="CF">République
                                                                    centrafricaine</option>
                                                                <option class="option" data-value="DO">République
                                                                    dominicaine
                                                                </option>
                                                                <option class="option" data-value="RE">Réunion (La)
                                                                </option>
                                                                <option class="option" data-value="RO">Roumanie</option>
                                                                <option class="option" data-value="GB">Royaume-Uni de
                                                                    Grande-Bretagne et d’Irlande du Nord</option>
                                                                <option class="option" data-value="RU">Russie (La
                                                                    Fédération
                                                                    de)</option>
                                                                <option class="option" data-value="RW">Rwanda</option>
                                                                <option class="option" data-value="EH">Sahara occidental
                                                                </option>
                                                                <option class="option" data-value="BL">Saint-Barthélemy
                                                                </option>
                                                                <option class="option" data-value="KN">
                                                                    Saint-Christophe-et-Niévès</option>
                                                                <option class="option" data-value="SM">Saint-Marin
                                                                </option>
                                                                <option class="option" data-value="MF">Saint-Martin
                                                                    (partie
                                                                    française)</option>
                                                                <option class="option" data-value="SX">Saint-Martin
                                                                    (partie
                                                                    néerlandaise)</option>
                                                                <option class="option" data-value="PM">
                                                                    Saint-Pierre-et-Miquelon
                                                                </option>
                                                                <option class="option" data-value="VA">Saint-Siège
                                                                </option>
                                                                <option class="option" data-value="VC">
                                                                    Saint-Vincent-et-les
                                                                    Grenadines</option>
                                                                <option class="option" data-value="SH">Sainte-Hélène,
                                                                    Ascension
                                                                    et Tristan da Cunha</option>
                                                                <option class="option" data-value="LC">Sainte-Lucie
                                                                </option>
                                                                <option class="option" data-value="WS">Samoa</option>
                                                                <option class="option" data-value="AS">Samoa américaines
                                                                </option>
                                                                <option class="option" data-value="ST">Sao
                                                                    Tomé-et-Principe
                                                                </option>
                                                                <option class="option" data-value="SN">Sénégal</option>
                                                                <option class="option" data-value="RS">Serbie</option>
                                                                <option class="option" data-value="SC">Seychelles
                                                                </option>
                                                                <option class="option" data-value="SL">Sierra Leone
                                                                </option>
                                                                <option class="option" data-value="SG">Singapour
                                                                </option>
                                                                <option class="option" data-value="SK">Slovaquie
                                                                </option>
                                                                <option class="option" data-value="SI">Slovénie</option>
                                                                <option class="option" data-value="SO">Somalie</option>
                                                                <option class="option" data-value="SD">Soudan</option>
                                                                <option class="option" data-value="SS">Soudan du Sud
                                                                </option>
                                                                <option class="option" data-value="LK">Sri Lanka
                                                                </option>
                                                                <option class="option" data-value="SE">Suède</option>
                                                                <option class="option" data-value="CH">Suisse</option>
                                                                <option class="option" data-value="SR">Suriname</option>
                                                                <option class="option" data-value="SJ">Svalbard et Île
                                                                    Jan
                                                                    Mayen</option>
                                                                <option class="option" data-value="SZ">Swaziland
                                                                </option>
                                                                <option class="option" data-value="TJ">Tadjikistan
                                                                </option>
                                                                <option class="option" data-value="TW">Taïwan (Province
                                                                    de
                                                                    Chine)</option>
                                                                <option class="option" data-value="TZ">Tanzanie
                                                                    (République
                                                                    unie de)</option>
                                                                <option class="option" data-value="TD">Tchad</option>
                                                                <option class="option" data-value="CZ">Tchéquie</option>
                                                                <option class="option" data-value="TF">Terres australes
                                                                    françaises</option>
                                                                <option class="option" data-value="IO">Territoire
                                                                    britannique
                                                                    de l’océan Indien</option>
                                                                <option class="option" data-value="TH">Thaïlande
                                                                </option>
                                                                <option class="option" data-value="TL">Timor oriental
                                                                </option>
                                                                <option class="option" data-value="TG">Togo</option>
                                                                <option class="option" data-value="TK">Tokelau</option>
                                                                <option class="option" data-value="TO">Tonga</option>
                                                                <option class="option" data-value="TT">Trinité-et-Tobago
                                                                </option>
                                                                <option class="option" data-value="TN">Tunisie</option>
                                                                <option class="option" data-value="TM">Turkménistan
                                                                </option>
                                                                <option class="option" data-value="TR">Turquie</option>
                                                                <option class="option" data-value="TV">Tuvalu</option>
                                                                <option class="option" data-value="UA">Ukraine</option>
                                                                <option class="option" data-value="UY">Uruguay</option>
                                                                <option class="option" data-value="VU">Vanuatu</option>
                                                                <option class="option" data-value="VE">Venezuela
                                                                    (République
                                                                    bolivarienne du)</option>
                                                                <option class="option" data-value="VN">Viet Nam</option>
                                                                <option class="option" data-value="WF">Wallis-et-Futuna
                                                                </option>
                                                                <option class="option" data-value="YE">Yémen</option>
                                                                <option class="option" data-value="ZM">Zambie</option>
                                                                <option class="option" data-value="ZW">Zimbabwe</option>
                                                                <option class="ps-scrollbar-x-rail"
                                                                    style="left: 0px; bottom: 3px;">
                                                                <option class="ps-scrollbar-x" tabindex="0"
                                                                    style="left: 0px; width: 0px;"></option>
                                                                </option>
                                                                <option class="ps-scrollbar-y-rail"
                                                                    style="top: 0px; height: 284px; right: 0px;">
                                                                <option class="ps-scrollbar-y" tabindex="0"
                                                                    style="top: 0px; height: 10px;"></option>
                                                                </option>
                                                            </select>
                                                            <div class="maDiv1"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <!-- boîte gauche 2 profil -->
                                                        <div id="accProfilSettingleft" class="settings-left-block">
                                                            <div id="accTitleTxtleft2" class="title-txt">Préférences
                                                            </div>
                                                        </div>
                                                        <!-- boîte droite 2 -->
                                                        <div id="accProfilSettingRight" class="settings-right-block">
                                                            <!-- séparation 2 -->
                                                            <hr>
                                                            <form action="r" method="post" accept-charset="utf-8"
                                                                class="form" role="form">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <h3 id="accVosPlateform"><i
                                                                                class="fas fa-gamepad"></i> Vos
                                                                            plateforme
                                                                        </h3>
                                                                        <div id="accPlaystation"
                                                                            class="col-xs-6 col-md-6">
                                                                            <i class="fab fa-playstation">
                                                                                Playstation</i>
                                                                            <input type="checkbox" id="playstation"
                                                                                name="playstation" checked>
                                                                            <label for="playstation"></label>
                                                                        </div><br>
                                                                        <div id="accXbox" class="col-xs-6 col-md-6">
                                                                            <i class="fab fa-xbox"> Xbox</i>
                                                                            <input type="checkbox" id="xbox" name="xbox"
                                                                                checked>
                                                                            <label for="xbox"></label>
                                                                        </div><br>
                                                                        <div id="accNintendo" class="col-xs-6 col-md-6">
                                                                            <i class="nintendo"> Nintendo</i>
                                                                            <input type="checkbox" id="nintendo"
                                                                                name="nintendo" checked>
                                                                            <label for="nintendo"></label>
                                                                        </div><br>
                                                                        <div id="accSteam" class="col-xs-6 col-md-6">
                                                                            <i class="fab fa-steam"> Steam</i>
                                                                            <input type="checkbox" id="steam"
                                                                                name="steam" checked>
                                                                            <label for="steam"></label>
                                                                        </div><br>
                                                                        <div id="accTwitch" class="col-xs-6 col-md-6">
                                                                            <i class="fab fa-twitch"> Twicth</i>
                                                                            <input type="checkbox" id="twicth"
                                                                                name="twicth" checked>
                                                                            <label for="twicth"></label>
                                                                            <div class="maDiv1"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div><br>
                                                    <!-- **********Supprimer le compte -->
                                                    <div id="deleteAcc" class="col-12">
                                                        <div id="accProfilSettingleft" class="settings-left-block">
                                                            <div id="accTitleTxtleft3" class="title-txt">Supprimer le
                                                                compte
                                                            </div>
                                                        </div>
                                                        <!-- boîte droite 3 -->
                                                        <div id="accProfilSettingRight" class="settings-right-block">
                                                            <!-- séparation 2 -->
                                                            <hr>
                                                            <form action="r" method="post" accept-charset="utf-8"
                                                                class="form" role="form">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="settings-left-block">
                                                                            <div class="content-txt">
                                                                                <i class="fas fa-exclamation-triangle"></i><span class="red"> Avertissement&nbsp;:</span>
                                                                                Après avoir confirmé cette action, vous ne pourrez ni accéder aux données de votre compte, ni à vos contacts, ni à vos conversations sur Mugamax.
                                                                            </div><br>
                                                                            <div class="col-xs-6 col-md-6">
                                                                        </div>
                                                                        <div id="deleteButtonSettingRight" class="settings-right-block">
                                                                            <div class="settings-sub-section justify-end"> <button class="buttonDeleteAcc"> <span>Supprimer le compte</span> </button> 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
