{% extends 'base.html.twig' %}

{% block title %}SettingUserPreference{% endblock %}

{% block body %}
    <h1>SettingUserPreference</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setting_user_preference.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ setting_user_preference.pseudo }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ setting_user_preference.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ setting_user_preference.lastname }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ setting_user_preference.birthdate ? setting_user_preference.birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ setting_user_preference.country }}</td>
            </tr>
            <tr>
                <th>Playstation</th>
                <td>{{ setting_user_preference.playstation }}</td>
            </tr>
            <tr>
                <th>Xbox</th>
                <td>{{ setting_user_preference.xbox }}</td>
            </tr>
            <tr>
                <th>Nintendo</th>
                <td>{{ setting_user_preference.nintendo }}</td>
            </tr>
            <tr>
                <th>Steam</th>
                <td>{{ setting_user_preference.steam }}</td>
            </tr>
            <tr>
                <th>Twitch</th>
                <td>{{ setting_user_preference.twitch }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('setting_user_preference_index') }}">back to list</a>

    <a href="{{ path('setting_user_preference_edit', {'id': setting_user_preference.id}) }}">edit</a>

    {{ include('setting_user_preference/_delete_form.html.twig') }}
{% endblock %}
