{% extends 'base_admin.html.twig' %}

{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Icon Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/page-forum.css') }}">
    <link rel="stylesheet" href="{{ asset('css/espace_admin.css') }}">
    <link rel="stylesheet" href="{{ asset('espace_admin.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font.css') }}">
    
{% endblock %}

{% block title %}Espace Admin{% endblock %}

{% block body %}
    <div class="container my-4">
        <div id="containerParam" class="row">
            <div class="col-md-5 mt-4">
                <!-- ********************Profil********************** -->
                <section>
                    <div id="containerParam2" class="row">
                        <div id="containerParam3" class="col-8">
                            <div id="paramètre">
                                <div id="paramètreHeader" class="lp-header"> <span
                                        id="spanParamètreTitle">Tableau de bord </span>
                                </div>
                                <!-- Paramètre compte -->
                                <div id="paramètreCompte"
                                    class="settings-button slide-in-out ts-500 account-s active">
                                    <div id="paramètreCompteHeadTitle" class="head-title"> <i id="iconChevronCompte"
                                            class="bi bi-chevron-right"></i> <i
                                            class="far fa-newspaper" style="color:white"></i> <a id="spanCompte"
                                            >Actualités</a>
                                    </div>
                                    <div id="subMenuCompte" class="sub-menu slide-item">
                                        <div id="tabProfil" class="sub-title" data-scrollto="profile-form">
                                            <a href="{{ path('category_news_new') }}">Créer catégorie</a>
                                        </div>
                                        <div id="tabPréférence" class="sub-title" data-scrollto="preferences">
                                            <a href="{{ path('category_news_index') }}">Liste catégorie</a>
                                        </div>
                                        <div id="tabPréférence" class="sub-title" data-scrollto="preferences">
                                            <a href="{{ path('actuality_news_new') }}">Créer actualité</a>

                                        </div>
                                        <div id="tabPréférence" class="sub-title" data-scrollto="preferences">
                                            <a href="{{ path('actuality_news_index') }}">Liste actualité</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Paramètre notification -->
                                <div id="paramètreNotif"
                                    class="settings-button slide-in-out ts-500 notifications closed">
                                    <div id="paramètreNotifHeadTitle" class="head-title"> <i id="iconChevronNotif"
                                            class="bi bi-chevron-right"></i> <i
                                            class="fas fa-rss" style="color:white"></i></i>
                                        <a id="spanNofif"
                                            >Forum</a>
                                    </div>
                                    <div id="subMenuNotif" class="sub-menu slide-item">
                                        <div id="tabNotifAcc" class="sub-title"
                                            data-scrollto="account-notification">
                                            <a href="{{ path('category_topic_new') }}">Créer catégorie</a>
                                        </div>
                                        <div id="tabNotifEmail" class="sub-title"
                                            data-scrollto="email-notification">
                                            <a href="{{ path('category_topic_index') }}">Liste catégorie</a>
                                        </div>
                                        <div id="tabNotifEmail" class="sub-title"
                                            data-scrollto="email-notification">
                                            <a href="{{ path('topic_new') }}">Créer topic</a>
                                        </div>
                                        <div id="tabNotifEmail" class="sub-title"
                                            data-scrollto="email-notification">
                                            <a href="{{ path('topic_index') }}">Liste topic</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Paramètre sécurité -->
                                <div id="paramèteSécurité"
                                    class="settings-button slide-in-out ts-500 security closed">
                                    <div id="paramètreSécuritéHeadTitle" class="head-title"> <i
                                            id="iconChevronSécurité" class="bi bi-chevron-down"></i> <i
                                            class="fas fa-video" style="color:white"></i> <a
                                            id="spanSécurité">Vidéo</a>
                                    </div>
                                    <div id="subMenuSécurité" class="sub-menu slide-item">
                                        <div id="tabChangePass" class="sub-title" data-scrollto="change-password">
                                            <a href="{{ path('category_video_new') }}">Créer catégorie</a>
                                        </div>
                                        <div id="tabChangeEmail" class="sub-title acc-setting-menu-change-em" data-scrollto="change-email">
                                            <a href="{{ path('category_video_new') }}">Liste catégorie</a>
                                        </div>
                                        <div id="tabChangePass" class="sub-title" data-scrollto="change-password">
                                            <a href="{{ path('video_new') }}">Créer vidéo</a>
                                        </div>
                                        <div id="tabChangePass" class="sub-title" data-scrollto="change-password">
                                            <a href="{{ path('video_index') }}">Liste vidéo</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="col-xs-6 col-md-6">
                    </div><br>
                </section>
            </div>
            <div class="col-md-6 mt-4">
                <!-- ******************Espace Utilisateur********************* -->
                <section>
                    <div class="row">
                        <div class="col-12">
                            <div id="accProfil" class="col-12">
                                <!-- boîte gauche 1 profil -->
                                <div id="accProfilSettingleft" class="settings-left-block">
                                    <h1 id="accTitleTxtleft1" class="title-txt">Espace Administration</h1>
                                </div>
                                <!-- boîte droite 1 -->
                                <div id="accProfilSettingRight" class="settings-right-block">
                                    <div class="col-md-12">
                                        <div class="white_shd full margin_bottom_30">
                                            <div class="full graph_head">
                                                <div class="heading1 margin_0">
                                                    <h2>Liste des Utilisateurs</h2>
                                                </div>
                                            </div>
                                            <div class="table_section padding_infor_info">
                                                <div class="table-responsive">
                                                    {% for user in user %}
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Action</th>
                                                                    <th>Id</th>
                                                                    <th>Roles</th>
                                                                    <th>Prénom</th>
                                                                    <th>Nom</th>
                                                                    <th>Pays</th>
                                                                    <th>Adresse mail</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur??');">
                                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                                            <button class="btn btn-secondary">Supprimer</button>
                                                                        </form>
                                                                    </td>
                                                                    <td>{{ user.id }}</td>
                                                                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                                                    <td>{{ user.firstname }}</td>
                                                                    <td>{{ user.lastname }}</td>
                                                                    <td>{{ user.country}}</td>
                                                                    <td>{{ user.email }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
	<footer class="text-center py-6 mt-4">
			<div>
				<img src="{{ asset('logoMugamax/logo_small_2.png') }}" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				</img>&copy; Mugamax - 2021 - All Right Reserved
			</div>
	</footer>
{% endblock %}