{% extends 'base.html.twig' %}

{% block stylesheets %}
	{#{{ encore_entry_link_tags('app') }}#}

	<!-- Bootstrap CSS -->
	<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> <!-- Icon Bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
	<link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/nav.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
	<link rel="stylesheet" href="{{ asset('css/actualité.css') }}">
	<link rel="stylesheet" href="{{ asset('css/actualité_edit_comment.css') }}">
	<link rel="stylesheet" href="{{ asset('css/indentification.css') }}">
	<link rel="stylesheet" href="{{ asset('css/font.css') }}">
{% endblock %}

{% block title %}Modifier mon commentaire
{% endblock %}

{% block body %}
	<!-- ***********Barre de navigation************ -->
	<div class="container">
		<div class="nav-scroller py-1 mb-2">
			<nav class="nav d-flex justify-content-between">
				<a class="p-2 link-secondary" href="#">Playstation 4</a>
				<a class="p-2 link-secondary" href="#">Playstation 5</a>
				<a class="p-2 link-secondary" href="#">Xbox one</a>
				<a class="p-2 link-secondary" href="#">Xbox Serie X</a>
				<a class="p-2 link-secondary" href="#">Pc</a>
				<a class="p-2 link-secondary" href="#">Nintendo Switch</a>
				<a class="p-2 link-secondary" href="#">ios</a>
				<a class="p-2 link-secondary" href="#">Android</a>
			</nav>
		</div>
	</div>
	<!-- *****************Partie Inférieure*************** -->
	<div id="myActu5" class="row g-5">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<h5 style="margin-left: 10px;">Modifier mon commentaire</h5>
				</div>
				<div class="container">
					<section class="content">
						<div
							class="row">
							<!-- Naviguer -->
							<div class="col-md-3">
								<div class="grid support">
									<div id="blockLeft" class="grid-body"><hr>
										<h2 {% if app.user is same as app.user %} style="font-weight:bold;color:red" {% endif %}>{{ app.user.pseudo }}</h2>
										{% if app.user.avatarUser is same as null %}
											<a id="avatarUserForum" style="font-size: 12px;">
												<i class=""><img style="max-width:55%" src="{{ asset('icons/default.png') }}" alt=""/></i>
											</a>
										{% else %}
											<a id="avatarUserForum" style="font-size: 12px;" data-bs-toggle="dropdown" aria-expanded="false">
												<i class=""><img style="max-width:55%" src=" {{ asset(app.user.avatarUser) }}" alt=""></i>
											</a>
										{% endif %}
										<hr>

										<a style="color: var(--siteText1)">Pays :
										</a>
										{{ app.user.country }}
									</div>
								</div>
							</div>
							<!-- *************** Début Topic***************** -->
							<div id="blockRight" class="col-md-9">
								<div class="grid support-content">
									<div class="grid-body">
										<div
											class="row">
											<!-- Commence Nouvelle Étiquettes -->
											<div class="col-md-12">
												<ul id="étiquetteBlockRight" class="list-group fa-padding">
													<li class="list-group-item" data-toggle="modal" data-target="#issue">
														<div class="media">
															<div class="card-header">
																{{ include('actuality_news/_form_comment.html.twig', {'button_label': 'Mettre à jour'}) }}
																<br>
																{{ include('actuality_news/_delete_comment.html.twig') }}
															</div>
															<div>
																<a href="{{ path('actuality_news_show',{'id':returnActuality} ) }}">Retour à la liste</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
											<!-- Fin Étiquettes -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<!-- **************onglet de droite*********************** -->
		<div class="col-md-4">
			<div class="position-sticky" style="top: 2rem;">
				<div id="à-ProposBlock" class="p-4 mb-3 bg-light rounded">
					<h4 class="fst-italic">
						<a href="{{ path('contact') }}">
							Nous contacter</a>
					</h4>
					<p class="txtMyactu mb-0">
						Contacter le Support Mugamax. Vous avez besoin d'une assistance par mail ? Nous vous fournirons l'aide dont vous avez besoin.
					</p>
				</div>
				<div class="p-4">
					<h4 class="fst-italic">Archives</h4>
					<ol class="list-unstyled mb-0">
						<li>
							<a href="#">Decembre 2021</a>
						</li>
						<li>
							<a href="#">Novembre 2021</a>
						</li>
						<li>
							<a href="#">Octobre 2021</a>
						</li>
						<li>
							<a href="#">Septembre 2021</a>
						</li>
						<li>
							<a href="#">Août 2021</a>
						</li>
						<li>
							<a href="#">Juillet 2021</a>
						</li>
						<li>
							<a href="#">Juin 2021</a>
						</li>
						<li>
							<a href="#">Mai 2021</a>
						</li>
						<li>
							<a href="#">Avril 2021</a>
						</li>
					</ol>
				</div>
				<div class="p-4">
					<h4 class="fst-italic">Autre</h4>
					<ol class="list-unstyled">
						<li>
							<a href="https://www.youtube.com">YouTube</a>
						</li>
						<li>
							<a href="https://www.twitch.tv">Twitch</a>
						</li>
						<li>
							<a href="https://fr-fr.facebook.com">Facebook</a>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<hr class="hrAdjust">
	<i id="UptoPage" onclick="topFunction()" class="bi bi-arrow-up-square-fill"></i>
{% endblock %}
{% block footer %}
	<footer class="text-center py-6 mt-4">
		<div>
			<img src="{{ asset('logoMugamax/logo_small_2.png') }}" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
		</img>&copy; Mugamax - 2021 - All Right Reserved
	</div>
</footer>{% endblock %}
