{% extends 'base_admin.html.twig' %}

{% block title %}Actualité News{% endblock %}

{% block body %}
    <div class="container my-4">
        <div id="blockLeftAndRight" class="row">
            <div id="signUp" class="col-md-6 mt-4">
                <h1>Liste actualité</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Contenu</th>
                            <th>Image</th>
                            <th>Publié le</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for actuality_news in actuality_news %}
                        <tr>
                            <td>{{ actuality_news.id }}</td>
                            <td>{{ actuality_news.titre }}</td>
                            <td>{{ actuality_news.content }}</td>
                            <td>{{ actuality_news.image }}</td>
                            <td>{{ actuality_news.createdAt ? actuality_news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('actuality_news_show', {'id': actuality_news.id}) }}">Afficher</a>
                                <a href="{{ path('actuality_news_edit', {'id': actuality_news.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <a href="{{ path('actuality_news_new') }}">Créer nouvelle actualité</a>
                </table>
            </div>
        </div>        
    </div>
{% endblock %}
{% block footer %}
    <footer class="text-center bg-light py-6 mt-4">
        <div>
            <img src="{{ asset('logoMugamax/logo_small_icon_only_inverted.png') }}" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="d-block mb-2">
            </img>&copy; Mugamax - 2021 - All Right Reserved
        </div>
    </footer>
{% endblock %}