{% extends 'base.html.twig' %}

{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Icon Bootstrap -->   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/indentification.css') }}">
    <link rel="stylesheet" href="{{ asset('css/actualité.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font.css') }}">
{% endblock %}

{% block title %}Liste Actualité{% endblock %}

{% block body %}
    <div id="bannerGame" class="row b-row listing meta-below grid-3">
        <!-- ***********Barre de navigation************ -->
        <div class="container">
            <div class="nav-scroller py-1 mb-2">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 link-secondary" href="#">Playstation 4</a>
                    <a class="p-2 link-secondary" href="#">Playstation 5</a>
                    <a class="p-2 link-secondary" href="#">Xbox one</a>
                    <a class="p-2 link-secondary" href="#">Xbox Serie X</a>
                    <a class="p-2 link-secondary" href="#">Pc</a>
                    <a class="p-2 link-secondary" href="#">Nintendo Switch</a>
                    <a class="p-2 link-secondary" href="#">ios</a>
                    <a class="p-2 link-secondary" href="#">Android</a>
                </nav>
            </div>
        </div>
    </div>
    <!-- *****************Bannière actualité******************** -->
    <div id="myActu">
        <div id="myActuBlock" class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">Actualités</h1>
            
                <div>
                    <p class="txtMyactu lead my-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quisquam
                        ipsum tenetur? Et, culpa eum!
                    </p>
                    {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                        <h3 class="txtMyactu lead mb-0"><a href="{{ path('actuality_news_new') }}" class="text-white fw-bold">
                        Créer nouvelle actualité</a>
                        </h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div id="signUp" class="col-md-10 mt-4">
                {# <h1>Liste actualité</h1> #}
                {# <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Contenu</th>
                            <th>Image</th>
                            <th>Publié le</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody> #}
                
                    {# <tr>
                        <td>{{ actuality_news.id }}</td>
                        <td>{{ actuality_news.titre }}</td>
                        <td>{{ actuality_news.content }}</td>
                        <td>
                            <img src=" {{ asset(actuality_news.image) }}" style=" height: 100px; object-fit; contain;" alt="">
                        </td>
                        <td>{{ actuality_news.createdAt ? actuality_news.createdAt|date('d-m-Y') : '' }}</td>
                        <td>
                            <a href="{{ path('actuality_news_show', {'id': actuality_news.id}) }}">Afficher</a>
                            <a href="{{ path('actuality_news_edit', {'id': actuality_news.id}) }}">Modifier</a>
                        </td>
                    </tr> #}
                <div class="row">
                    {% for actuality_news in actuality_news %}
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <img class="imgCard" src=" {{ asset(actuality_news.image) }}" style="contain;" alt="">
                            </div>
                            <div class="card-body text-wrap my-auto px-1 py-2">
                                <h4> {{ actuality_news.titre }} </h4>
                            </div><hr>
                            <div class="card-footer">
                                <p class="publish"><i>Publié le : </i>{{ actuality_news.createdAt | date('d-m-Y') }} <i>par</i> {{ actuality_news.user("id") }}</p> 
                                <div>
                                    <a class="btn btn-primary mt-3"  href="{{ path('actuality_news_show',{'id':actuality_news.id} ) }}">Consulter</a>
                                    {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                                        <a class="btn btn-primary mt-3" href="{{ path('actuality_news_edit',{'id':actuality_news.id} ) }}">Modifier</a>
                                    {% endif %}
                                </div><br>
                            </div>
                        </div>
                        </div>
                            {% else %}
                                <tr>
                                    <td colspan="6">Aucun enregistrement trouvé</td>
                                </tr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <!-- *****************Partie Inférieure*************** -->
    <div class="col-md-6">
        <div id="mondeBlock" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Monde</strong>
                <h3 class="txtMyactu mb-0"></h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="txtMyactu mb-auto">Lorem ipsum dolor sit amet consectetur.
                </p>
                <a href="#" class="stretched-link">Lire la suite</a>
            </div>
        </div>
    </div>
        <div id="myActu5" class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Lorem, ipsum dolor.
                </h3>
                <article class="txtMyactu blog-post">
                    <h2 class="blog-post-title">Lorem ipsum dolor sit amet.</h2>
                    <p class="txtMyactu blog-post-meta">
                        Juillet 13, 2021 par <a href="#">Mr.Turle</a>
                    </p>
                    <p class="txtMyactu">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quisquam ipsum tenetur?
                        Et, culpa eum!
                    </p>
                </article>
                <hr>
                <article class="txtMyactu blog-post">
                    <h2 class="blog-post-title">Lorem ipsum dolor sit.</h2>
                    <p class="txtMyactu blog-post-meta">
                        14 Juillet, 2021 par <a href="#">Mr.Turle</a>
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos aperiam et eaque explicabo atque. Magnam
                        ullam itaque quia quae quasi, aliquid nesciunt harum saepe libero, beatae id? Incidunt, possimus excepturi.
                    </p>
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </article>
                <nav class="blog-pagination" aria-label="Pagination">
                    <a class="btn btn-outline-primary" href="#">Ancien</a>
                    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Récent</a>
                </nav>
            </div>
            <!-- **************onglet de droite*********************** -->
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div id="à-ProposBlock" class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">À-propos</h4>
                        <p class="txtMyactu mb-0">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quisquam ipsum
                            tenetur? Et, culpa eum!
                        </p>
                    </div>
                    <div class="p-4">
                        <h4 class="fst-italic">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="#">Decembre 2021</a></li>
                            <li><a href="#">Novembre 2021</a></li>
                            <li><a href="#">Octobre 2021</a></li>
                            <li><a href="#">Septembre 2021</a></li>
                            <li><a href="#">Août 2021</a></li>
                            <li><a href="#">Juillet 2021</a></li>
                            <li><a href="#">Juin 2021</a></li>
                            <li><a href="#">Mai 2021</a></li>
                            <li><a href="#">Avril 2021</a></li>
                        </ol>
                    </div>
                    <div class="p-4">
                        <h4 class="fst-italic">Autre</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">YouTube</a></li>
                            <li><a href="#">Twitch</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hrAdjust">    
{% endblock %}
