{% extends 'base.html.twig' %}

{% block title %}ActualityNews{% endblock %}

{% block body %}
    <h1>ActualityNews</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actuality_news.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ actuality_news.titre }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ actuality_news.content }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ actuality_news.image }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ actuality_news.createdAt ? actuality_news.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actuality_news_index') }}">back to list</a>

    <a href="{{ path('actuality_news_edit', {'id': actuality_news.id}) }}">edit</a>

    {{ include('actuality_news/_delete_form.html.twig') }}
{% endblock %}
