{% extends 'base_admin.html.twig' %}

{% block title %}Edit CategoryNews
{% endblock %}

{% block stylesheets %}
	{#{{ encore_entry_link_tags('app') }}#}

	<!-- Bootstrap CSS -->
	<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> <!-- Icon Bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
	<link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/nav.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
	<link rel="stylesheet" href="{{ asset('css/indentification.css') }}">
	<link rel="stylesheet" href="{{ asset('css/font.css') }}">
{% endblock %}

{% block body %}
	<div class="container my-4">
		<div id="blockLeftAndRight" class="row">
			<div id="signUp" class="col-md-6 mt-4">
				<h1>Modifier Catégorie</h1>

				{{ include('category_news/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
				<br>

				{{ include('category_news/_delete_form.html.twig') }}
				<br>
				<div>
					<a href="{{ path('category_news_index') }}">Retour à la liste</a>
				</div>
				<br>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	<footer class="text-center bg-light py-6 mt-4">
		<div>
			<img src="{{ asset('logoMugamax/logo_small_2.png') }}" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
		</img>&copy; Mugamax - 2021 - All Right Reserved
	</div>
</footer>{% endblock %}
