{% extends 'base.html.twig' %}

{% block stylesheets %}
    {#{{ encore_entry_link_tags('app') }}#}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Icon Bootstrap -->   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/page-forum.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font.css') }}">
    <link rel="stylesheet" href="{{ asset('css/indentification.css') }}">
{% endblock %}


{% block title %}Topic{% endblock %}

{% block body %}
        <div class="container">
            <section class="content">
                <div class="row">
                    <!-- Naviguer -->
                    <div class="col-md-3">
                        <div class="grid support">
                            <div id="blockLeft" class="grid-body">
                                <div id="ButtonTrier" class="btn-group dropdown">
                                    <button type="button" onclick="dropdown()" class="dropbtn btn btn-default dropdown-toggle">
                                        <strong>Trier par :</strong> <span class="caret"></span>
                                    </button>
                                    <div id="myDropdown" class="dropdown-content" role="menu">
                                        <a href="#"><i class="fa fa-check"></i> Récent</a>
                                        <a href="#"><i class="fa"> </i> dernière Ajout</a>
                                        <a href="#"><i class="fa"> </i> Ajouter Récement</a>
                                        <a href="#"><i class="fa"> </i> Ancien</a>
                                        <a href="#"><i class="fa"> </i> Les Plus Commentés</a>
                                        <a href="#"><i class="fa"> </i> Dernier Commentaire</a>
                                    </div>
                                </div>
                                <!-- Commence Nouvelle Étiquettes -->
                                <a type="button" class="btn btn-success pull-right" href="{{ path('topic_comment_new',{'id' : topic.id}) }}" data-toggle="modal"
                                    data-target="#newIssue">Commenter
                                </a>
                                <div class="modal fade" id="newIssue" tabindex="-1" role="dialog" aria-labelledby="newIssue"
                                    aria-hidden="true">
                                    <div class="modal-wrapper">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header bg-blue">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">×</button>
                                                    <h4 class="modal-title"><i class="fa fa-pencil"></i> Créer un topic
                                                    </h4>
                                                </div>  
                                                
                                                
                                                <hr>
                                                <ul>
                                                    <li><a href="#">Pays : </a>{{ topic.user.country }}</li>
                                                </ul>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                    <!-- *************** Début Topic***************** -->
                    <div id="blockRight" class="col-md-9">
                        <div class="grid support-content">
                            <div class="grid-body">
                                <h2>{{ topic.subjet }}</h2>
                                <hr>
                                <h3>{{ topic.user.pseudo }}</h3>
                                <div class="row">
                                    <!-- Commence Nouvelle Étiquettes -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Étiquettes -->
                </div>
            </section>
        </div>
    {% for topic_comment in topic.topicComment %}
        <div class="container">
            <section class="content">
                <div class="row">
                    <!-- Naviguer -->
                    <div class="col-md-3">
                        <div class="grid support">
                            <div id="blockLeft" class="grid-body">
                                <h2>{{ topic_comment.user.pseudo }}</h2>
                                <hr>
                                <ul>
                                    <li><a href="#">Pays : </a>{{ topic_comment.user.country }}</li>
                                </ul>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <!-- *************** Début Topic***************** -->
                    <div id="blockRight" class="col-md-9">
                        <div class="grid support-content">
                            <div class="grid-body">
                                <div class="row">
                                    <!-- Commence Nouvelle Étiquettes -->
                                    <div class="col-md-12">
                                        <ul id="étiquetteBlockRight" class="list-group fa-padding">
                                            <li class="list-group-item" data-toggle="modal" data-target="#issue">
                                                <div class="media">
                                                    <div class="media-body">
                                                        {{ topic_comment.content }}
                                                        <br>
                                                        <a href="{{ path('topic_comment_edit', {'id': topic_comment.id}) }}">edit</a>
                                                    </div>
                                                </div>                                           
                                            </li>                                        
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Étiquettes -->
                </div>
            </section>
        </div>
    {% endfor %}
{% endblock %}
{% block footer %}
    <footer class="text-center bg-light py-6 mt-4">
        <div>
            <img src="{{ asset('logoMugamax/logo_small_icon_only_inverted.png') }}" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="d-block mb-2">
            </img>&copy; Mugamax - 2021 - All Right Reserved
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}

    <!-- Icon Font Aweaome -->
    <script src="Access-Control-Allow-Origin: https://kit.fontawesome.com/e74bd4f77c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="Jquery/espace-utilisateur.js"></script>
    <script src="https://kit.fontawesome.com/e74bd4f77c.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/dropdownButton.js') }}"></script>

{% endblock %}
