<div class="container flex-column flex-md-row justify-content-center">
	<div id="navBlock" class="container-fluid">
		<a href="{{ path('home') }}">
			<img class="logo-menu" src="{{ asset('logoMugamax/logo_small_2.png') }}" alt=""/>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a id="nav-jeux" idstyle="font-size: 12px;" class="nav-link dropdown-toggle active" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Catégorie</a>
					<ul id="nav-JeuxDropdown" class="dropdown-menu active" aria-labelledby="navbarDropdown">
						{% for c in categoryNewsRepository.findAll() %}
							<li>
								<a id="navJ1Ps4" class="nav-link active" aria-current="page" href="{{ path('public_category_detail',{'id': c.id}) }}">{{ c.name }}</a>
							</li>
							<li>
								<a id="navJ8ïod" class="nav-link active" aria-current="page" href="{{ path('public_category_detail',{'id': c.id}) }}"></a>
							</li>
						{% endfor %}
					</ul>
				</li>
				<li>
					<a id="nav-vidéos" class="nav-link active" href="#">Vidéos</a>
				</li>
				<li>
					<a id="nav-actualités" class="nav-link active" href="{{ path('actuality_news_index') }}">Actualités</a>
				</li>
				<li>
					<a id="nav-forums" class="nav-link active" href="{{ path('topic_index') }}">Forums</a>
				</li>
				{% if app.user %}

					{% if app.user.roles[0] is same as "ROLE_ADMIN" %}

						<li class="nav-item">
							<a id="nav-adminhome" class="nav-link" href="{{ path('admin_dashboard') }}">Administration</a>
						</li>

					{% endif %}

					

				{% else %}
					<li class="nav-item dropdown">
						<a id="nav-connect" style="font-size: 12px;" class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Bienvenue, identifiez-vous<br><strong style="font-size: 14px;">Connecter-vous</strong>
						</a>

						<ul id="identifMyAccount" class="txtMyactu dropdown-menu active" aria-labelledby="navbarDropdown">
							<li>
								<button type="button" onclick="location.href = 'login'"></a>Identifiez-vous</li>
						</button>
						<div>
							Nouvel utilisateur?
							<a href="{{ path('app_register') }}">créer un compte</a>
						</div>
					</li>
				</ul>
			</li>
		{% endif %}
		{% if app.user %}
				<li class="nav-item dropdown">
					{% if app.user.avatarUser is same as null %}
						<a id="avatarUserNav" idstyle="font-size: 12px;" class="nav-link dropdown-toggle active" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class=""><img class="" src="{{ asset('icons/default.png') }}" alt=""/></i></a>
					{% else %}
						<a id="avatarUserNav" idstyle="font-size: 12px;" class="nav-link dropdown-toggle active" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class=""><img src=" {{ asset(app.user.avatarUser) }}" alt=""></i></a>
					{% endif %}
					<ul id="navPofilDropdown" class="dropdown-menu active" aria-labelledby="navbarDropdown">
						<li>
							<a id="navProfil" class="nav-link active" aria-current="page" href="{{ path('user_index') }}">Profil</a>
						</li>
						<li>
							<a class="nav-link active; navOngletEmpty" aria-current="page" href="{{ path('user_index') }}"></a>
						</li>
						<li>
							<a id="navPréférence" class="nav-link active" aria-current="page" href="{{ path('user_index') }}">Préférence</a>
						</li>
						<li>
							<a class="nav-link active; navOngletEmpty" aria-current="page" href="{{ path('user_index') }}"></a>
						</li>
						<li class="nav-link active">
							<a id="navLogout" class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
						</li>
						<li class="nav-link active">
							<a class="nav-link active; navOngletEmptyLast" href="{{ path('app_logout') }}"></a>
						</li>
					</ul>
				</li>				
			{# <li>
				<a id="navMonCompte" class="nav-link active" href="{{ path('user_index') }}">
					<i class="fas fa-ghost"></i>
				</a>
				<a id="avatarUserNav" class="nav-link active">
					<i class=""><img src=" {{ asset(app.user.avatarUser) }}" alt=""></i>
				</a>
			</li> #}
		{% endif %}
	</ul>
	<form id="searchBtn" class="d-flex">
		<a id="getBrightness" class="nav-link active" href="../Projet - Mugamax - Light Version (Lenny)/light-actualité.html">
			<i class="fas fa-adjust"></i>
		</a>
		<input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">

		<button id="buttonSearch" class="btn btn-outline-success" type="submit">
			<i class="bi bi-search"></i>
		</button>
	</form>
</div></div></div>
