{% extends 'base.html.twig' %}

{% block title %}TopicComment{% endblock %}

{% block body %}
    <h1>TopicComment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ topic_comment.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ topic_comment.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('topic_comment_index') }}">back to list</a>

    <a href="{{ path('topic_comment_edit', {'id': topic_comment.id}) }}">edit</a>

    {{ include('topic_comment/_delete_form.html.twig') }}
{% endblock %}
